AIRFLOW_ENDPOINT=http://<server-ip>:8080
JWT_TOKEN=$(curl -s -X 'POST' "${AIRFLOW_ENDPOINT}/auth/token" -H 'Content-Type: application/json' -d '{ "username": "<user>", "password": "<password>" }' | jq -r '.access_token')
echo "$JWT_TOKEN" > .jwt_token
